[general]
database: sqlite3  # or mysql
shortener: iorek
# handlers:  ...
rewriters: google

[sqlite3]
filename: /path/to/sqlite.db

[mysql]
host: host
name: name
user: user
password: password

[twitter]
consumer_key: get
consumer_secret: these
access_token_key: from
access_token_secret: twitter

[burrowiki]
loginpage: url
user: user
password: password

[browser]
cookiejar: /path/to/cookies.txt
passwords: /path/to/passwords.csv

[google]
regex: ^(\w*\s*\|\s*|)@google (.*)
rewriter: from urllib import urlencode
  terms = urlencode({'btnI' : "I'm Feeling Lucky", 'q' : match.group(2)})
  line = "http://www.google.com/search?hl=en&ie=ISO-8859-1&%s" % terms
